<div class="well well-sm">
  Total Number of clicks: {{totalNumberOfClicks}}
</div>

<table class="table  table-striped" name="artists-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Artist Name</th>
      <th>Number Of Clicks</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let res of artistAnalyticsData; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{res.ArtistName}}</td>
      <td>{{res.HitCount}}</td>
    </tr>
  </tbody>
</table>

<table class="table table-striped" name="media-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Media Type</th>
      <th>Number of Clicks</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let res of mediaTypeAnalyticsData; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{res.MediaType}}</td>
          <td>{{res.HitCount}}</td>
        </tr>
  </tbody>
</table>
