<div class="container">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
            <label for="name">Artist Name</label>
            <input type="text" id="artistName" name="artistName" class="form-control" ngModel required #nameCtrl="ngModel">
            <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter a name!</span>

        </div>
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
        <!-- <button class="btn btn-primary" type="submit"> -->
          Add Character
        </button>
    </form>
</div>

<div class="container">
    <app-search-results [searchResults]="searchResults"></app-search-results>
</div>