
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group">
        <label for="name">Artist Name</label>
        <input type="text" id="artistName" name="artistName" class="form-control" ngModel required #nameCtrl="ngModel">
        <br>
        <label for="mediaType">Media Type</label>
        <select class="form-control" id="mediaType" name="mediaType" required ngModel #nameCtrl="ngModel">
          <option *ngFor="let option of mediaType" [value]="option.value">
              {{option.display}}
          </option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
      Search
    </button>
</form>
<app-search-results></app-search-results>

